{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:day01 {:ns-default aoc-2024.day01 :exec-fn main}
  :day02 {:ns-default aoc-2024.day02 :exec-fn main}
  :day03 {:ns-default aoc-2024.day03 :exec-fn main}
  :day04 {:ns-default aoc-2024.day04 :exec-fn main}
  :day05 {:ns-default aoc-2024.day05 :exec-fn main}
  :day06 {:ns-default aoc-2024.day06 :exec-fn main}
  :day07 {:ns-default aoc-2024.day07 :exec-fn main}
  :day08 {:ns-default aoc-2024.day08 :exec-fn main}
  :day10 {:ns-default aoc-2024.day10 :exec-fn main}
  :day11 {:ns-default aoc-2024.day11 :exec-fn main}
  :day13 {:ns-default aoc-2024.day13 :exec-fn main}
  :day18 {:ns-default aoc-2024.day18 :exec-fn main}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
